#bg-1{
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 300px;  
}

/*COLDPLAY LOGO */
.flex-item-1{
    flex: 50px;
    padding-bottom: 20px;
}

.logo{
    padding-left: 20px;
    color: white;
    font-family: titillium web, sans-serif; 
}

/*SOCIAL MEDIA NAVIGATION BAR*/

ul li{
    float: left;
    width: 100px;
    list-style-type: none;
    font-family: titillium web, sans-serif;
    font-weight: bold;
}

ul li a{
    text-decoration: none;
    color: white;
}

ul li a:hover{
    opacity: 0.3;
}

b{
    color: hotpink;
    border-bottom: 2px solid hotpink;
    font-weight: normal;
}

.flex-item1-1{
    flex: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.heading{
    text-align: center;
    margin-top: 200px;
    font-family: titillium web, sans-serif;
    color: white;
}

.heading h1{
    font-size: 100px;
    
}
.text-6{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: -10px;
    opacity: 0.7;
    float: left;
   
}
.text-6-1{
    font-size: 14px;
    font-weight: normal;
    margin-top: -80px;
    opacity: 0.7;
    float: right;
    padding-right: 10px;
}

/*COVER (INFO ON UPCOMING TOUR)*/
.flex-item-2{
    flex: 50%;
    display: flex;
    justify-content: flex-end;
    margin: 50px 50px 0px 0px;
}

#tour-image{
    width: 350px;
    height: 210px;
}
.cover{
    background-image: url('image/background.jpg');
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    width: 400px;
    height: 550px;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 7px;
    opacity: 0.8;
}

#tour-image{
    border-radius: 20px;
    margin-top: 10%;
}

.text-1{
    padding-top:5px;
    color: white;
    font-size: 27px;
    font-family: kulim park, sans-serif;
    line-height: 7px;
    font-weight: bold;
}

.text-2{
    color: white;
    font-family: kulim park, sans-serif;
    font-size: 14px;
}

.text-3{
    color: white;
    font-family: kulim park, sans-serif;
    font-size: 30px;

}

.text-4{
    color: white;
    font-family: kulim park, sans-serif;
    font-size: 15px;
}

.line{
    border-bottom: 2px solid white;
    margin: 30px 0px 40px 50px;
    width: 300px;
    box-shadow: 1px 0px 4px; 
    color: hotpink;
    align-items: center;
}

/*COVER DESCRIPTION*/
.flex-item-3{
    flex: 70%;
}

.text-5{
    text-align: left;
    font-size:50px;
    color:white;
    font-family: titillium web, sans-serif;
    font-weight: bolder;
}
span{
    color: white;
    opacity: 0.5;
}

.video{
    margin-top: -50px;
    width:620px; 
    height:359px;
}

/*MEMBER SECTION*/
.bg-2{
    background-color:#23191b;
    padding-top: 100px;
}

.flex-item-4{
    flex: 100%;
    display: flex;
    justify-content: center;
}

.flex-item-5{
    flex: 25%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}

.member-cover{
    float: left;
    border: 1px solid rgb(44, 44, 44);
    text-align: center;
    width: 370px;
    height: 700px;
    margin: 0px 5px 150px 5px;
}

.member-cover:hover{
    opacity: 0.2;
}

.member-text{
 
    color: white;
    font-family: titillium web, sans-serif; 
    padding: 140px 1367px 10px 0px;
}

.name_text{
    text-align: left;
    color: white;
    font-family: titillium web, sans-serif; 
}

/*TOP10 MUSIC SECTION*/
.bg-3{
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;
}

.music-cover-top3{
    background-image: url(image/musiccover_background.png);
    opacity: 0.8;
    border: 1px solid rgb(44, 44, 44);
    text-align: center;
    width: 500px;
    height: 215px;
    border-radius: 20px;
    margin: 0px 10px 50px 0px;
    box-shadow: 0px 0px 50px 1px black;
}

.music-cover{
    background-image: url(image/musiccover_background.png);
    opacity: 0.8;
    border: 1px solid rgb(44, 44, 44);
    text-align: center;
    width: 500px;
    height: 80px;
    border-radius: 20px;
    margin: 0px 0px 28px 10px;
    box-shadow: 0px 0px 50px 1px black;
}
.flex-item-6{
    flex: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.flex-item-7{
    flex: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.top10-text{
    text-align: center;
    color: white;
    font-family: titillium web, sans-serif; 
    padding-bottom: 25px;
}

.music-cover-top3 table tr td{
    width: 600px; 
    height: 0px;
}

.music-cover-top3:hover, .music-cover:hover{
    opacity: 0.3;
}

.music-cover-top3 table tr td, .music-cover table tr td{
    color: white;
    font-family: titillium web, sans-serif; 
}

.music-cover-top3 table tr td h2{
    text-align: left;
    color: white;
    font-family: titillium web, sans-serif; 
    margin: 0px;
}

.numbering{
    text-align: center;
    font-size: 40px;
    width: 50px; 
    height: 200px;  
}

.numbering2{
    text-align: left;
    font-size: 20px; 
    padding-left: 50px;
}

.music-cover table tr td h2{
    text-align: center;
    color: white;
    font-family: titillium web, sans-serif; 
    font-size: 25px;
}

/*CONTACT SECTION*/
.bg-5{
    background-color: #23191b;
    text-align: center;
    padding: 150px 100px 40px 100px;
}

.flex-item-8{
    flex: 25%;
    display: flex;
    justify-content: center;
}

.flex-item-9{
    flex:50%;
    display: flex;
    justify-content: flex-start;
}

.flex-item-10{
    flex:50%;
    display: flex;
    justify-content: flex-end;
}

.form-desc{
    padding: 50px;
}

.form{
    background-color: white;
    border: 1px solid rgb(44, 44, 44);
    width: 550px;
    height: 700px;
    border-radius: 0px 20px 20px 0px;
    padding: 70px 0px 0px 40px;  
}

.form-cover{
    background-image: url(image/form_background.png);
    background-size: 730px 800px;
    border: 1px solid rgb(44, 44, 44);
    width: 1200px;
    height: 780px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px black;
}

.desc-text{
    margin-top: -80px;
    text-align: left;
    color: lightgray;
    font-size: 15px;
    font-family: titillium web, sans-serif; 
}

.desc2-text{
    text-align: left;
    color: lightgray;
    font-size: 20px;
    font-family: titillium web, sans-serif; 
}
.contact-heading{
    text-align: center;
    color: black;
    padding: 0px 50px 30px 0px;
    font-size: 30px;
    font-family: titillium web, sans-serif; 
}

/*FORM SECTION*/

#fname, #lname, #email, #message{
    margin: 10px;
    padding-left: 30px;
    color: lightgray;
    font-size: 25px;
    font-family: titillium web, sans-serif; 
    color:black;
}

#fname, #lname{
    width: 200px;
    height: 40px;
}

#email{
    width: 460px;
    height: 40px;
}

#message{
    width: 460px;
    height: 295px;
    color:black;
}

#button{
    margin: 10px;
    padding: 10px 30px 10px 30px;
    color: black;
    font-size: 20px;
    font-family: titillium web, sans-serif; 
}


/*FOOTER*/
footer{
    color: gray;
    font-size: 18px;
    font-family: titillium web, sans-serif; 
    margin-top: 190px;
}

/*FLEX CODING*/
.flex-container{
    display: flex;
}

.flex-container-column{
    display: flex;
    flex-direction: column;
}

.coverlink{
    text-decoration: none;
}

/*MOBILE*/
@media screen and (max-width:767px)
{
    .flex-container{
        flex-direction: column;
    }

    .socialmedia{
        text-align: center;
    }

    .flex-item-2{
        padding-top: 50px;
        justify-content: center;
    }

    .video{
        padding-left: 20px;
    }

    .text-5{
        font-size: 40px;
        padding: 0px 0px 20px 40px;
    }

    .text-6{
        padding-left: 100px;
    }
    .text-6-1{
        padding: 15px 150px 0px 0px;
    }

    .member-cover{
        margin-bottom: 150px;
    }

    .member-text{
        padding: 140px 210px 10px 0px;
    }
    
    .flex-item-5{
        padding-bottom: 100px;
    }

    .music-cover, .music-cover-top3{
        margin: 0px 0px 100px 0px;
    }

    .form{
        border-radius: 0px 0px 20px 20px;
    }
  
    footer{
        padding-top: 270px;
    }
}

