.flex-item-1{
    flex: 50px;
    padding-bottom: 20px;
}

.logo{
    padding-left: 20px;
    color: white;
    font-family: titillium web, sans-serif; 
}

/*Social media Navigation bar*/
.textbox{
    border: 1px solid solid black;
}

ul li{
    float: left;
    width: 100px;
    list-style-type: none;
    font-family: titillium web, sans-serif;
    font-weight: bold;
}

ul li a{
    text-decoration: none;
    color: white;
}

ul li a:hover{
    color: rgb(214, 79, 162);
}

b{
    color: hotpink;
    border-bottom: 2px solid hotpink;
    font-weight: normal;
}

#bg-1{
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px 0px 150px 0px;
}

/*Cover (Info on Upcoming tour)*/
.flex-item-2{
    flex: 40%;
    display: flex;
    justify-content: flex-end;
    margin: 50px 50px 0px 0px;
}

.cover{
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    width: 400px;
    height: 550px;
    border-radius: 8px;
    box-shadow: 0px 0px 16px 7px;
    opacity: 0.6;
}

#tour-image{
    border-radius: 20px;
    margin-top: 10%;
}

.text-1{
    padding-top:5px;
    color: white;
    font-size: 27px;
    font-family: kulim park, sans-serif;
    line-height: 7px;
    font-weight: bold;
}

.text-2{
    color: rgb(255, 255, 255);
    font-family: kulim park, sans-serif;
    font-size: 14px;
}

.text-3{
    color: rgb(255, 255, 255);
    font-family: kulim park, sans-serif;

}

.text-4{
    color: rgb(255, 255, 255);
    font-family: kulim park, sans-serif;
}

.line{
    border-bottom: 2px solid white;
    margin: 30px 0px 40px 50px;
    width: 300px;
    box-shadow: 1px 0px 4px; 
    color: hotpink;
    align-items: center;
}

/*Description*/
.flex-item-3{
    flex: 70%;
    padding-top: 50px;
}

.text-5{
    font-size:50px;
    color:white;
    font-family: titillium web, sans-serif;
    font-weight: bolder;
}
span{
     color: white;
     opacity: 0.5;
}

.text-6{
    font-size: 14px;
    color: white;
    font-family: titillium web, sans-serif;
    font-weight: normal;
    width: 550px;
    margin-top: -80px;
    opacity: 0.7;
}

/*Member section*/
.bg-2{
    background-color:#23191b;
}

.flex-item-4{
    flex: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item-5{
    flex: 25%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.member-cover{
    float: left;
    border: 1px solid rgb(44, 44, 44);
    text-align: center;
    width: 370px;
    height: 700px;
    margin: 0px 5px 150px 5px;
}

.member-cover:hover{
    opacity: 0.2;
}

.member-text{
    text-align: center;
    color: white;
    font-family: titillium web, sans-serif; 
    padding: 140px 1367px 10px 0px;
}

.flex-container{
    display: flex;

}

@media screen and (max-width:767px)
{
    .flex-container{
        flex-direction: column;
    }

    .textbox{
        text-align: center;
    }

    .flex-item-2{
        padding-top: 50px;
        justify-content: center;
    }

    .text-5{
        font-size: 40px;
        padding: 0px 0px 20px 40px;
    }

    .text-6{
        padding-left: 40px;
    }

    .member-cover{
        margin-bottom: 10px;
    }

    .member-text{
        padding: 140px 210px 10px 0px;
    }
    
    .flex-item-5{
        padding-bottom: 100px;
    }

}

